saliency_maps/
qual_analysis/
checkpoints/
__pycache__/
dataset_builder/

evaluation/__pycache__/
pre_process/__pycache__/
model/__pycache__/

model/bsd/
model/bsd/ablation_studies/
model/bsd/backbone_variants/
model/bsd/film_experiments/
model/bsd/language_guided_sr_variants/
model/bsd/mask_head_variants/
model/bsd/salient_region_extractor_variants/
model/bsd/text_pos_embeds/

model/bsd/bsd.py
model/bsd/roi_feats_fusion_adaptive.py
model/bsd/roi_feats_fusion_CA.py
model/bsd/sam_module.py
model/bsd/train.py

model/mask_prediction/
model/variants/
model/outputs/
model/saliency_maps/
model/inference.py

*.pth
*.pt
*.ckpt